*{
    padding: 5px;
    margin:0;
}
body{
    .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
}

.container{
   
    padding: 50px;

}
.section-one{
 background-color: black;
 color: white;   
}

.section-one__contact{

    background-color: orangered;
    color:white;
    text-decoration:none;
    padding-left= 10px;
    padding-right= 10px;
    padding-top= 10px;
    padding-bottom=20px;
    display: inline-block;
    
}
.section-one__name{
    font-size: 60px;

}
.section-one__role{

    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three,.section-three,.section-four,.section-five{

    margin-top=20px';
}
section-two__desc,.section-three__desc,.section-three__desc,.section-four__desc,.section-five__desc{

    margin-top=10px';
}

.section-five{
     background-color: black;
     color: white;
     padding: 20px;    
     margin-top:40px;     
  

}10px
.section-five__title a{

    color: skyblue

}

.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462fd;
   color:black;
   padding: 20px;
   display:inline-block;
   height:200px;
   border-radius: 10px ;
   vertical-align: top;
   line-height: 1.2;
   margin:0;
}
.section-four{
    background-color: #fe7517;
    color:black;
    padding: 20px;
    display:inline-block;
    height:200px;
    border-radius: 10px;
    vertical-align: top;
    line-height:1.2;
    margin:0;
}
.section-two__desc p{

    margin-bottom: 20px;
       
}

.contact-form{
   margin-top:20px;

}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
   margin-top: 10px;

}
.contact-form__input{

    padding: 20px;
    border:none;
    border:solid black 1px;
}

.contact-form__submit{

 padding-top: 10px;
 padding-bottom: 10px;
 padding-left:20px;
 padding-right:20px;
 background-color: orangered;
 color:black
 border:none;
}

.section-one__contact{
    background-color: red;
    color: white;
}







